.banner{
    padding: 0;
    width: 100vw;
    height: 83vh;
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.titleBanner{
    font-size: 7rem;
    max-width: 50%;
    text-align: center;
    text-shadow: #444 .2rem .2rem;
    margin: auto;
}
.button{
    margin: auto;
    background: var(--primary-color);
    color: var(--bg-color);
    padding: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 50px;
    font-size: 3rem;
    font-style: italic;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: .75rem;
    border: .2rem solid currentColor;
    transition: .5s ease;
}
.button:hover{
    background: #fff;
    color: var(--primary-color);
    animation: space .5s ease infinite alternate;
}
@keyframes space {
    to{ gap: 1.5rem;
        padding-right: 1.3rem;}
}
.button:active{
    scale: .9;
}
@media (max-width: 850px) {
    .titleBanner{
        max-width: 70%;
        font-size: 5rem;
    }
    .button{
        font-size: 2.5rem;
    }
}
@media (max-width: 500px) {
    .titleBanner{
        font-size: 3rem;
    }
    .button{
        font-size: 2rem;
    }
}