/*Carousel*/
.wrapper{
    position: relative;
    overflow-x:hidden;
    color: #fff;
}
.slide{
    display: flex;
    transition: 2s ease-in-out;
}
.slide::-webkit-scrollbar{
    display: none;
}
.contentSlide{
    height: 100%;
    cursor:grab
}
.contentSlide:active{
    cursor: grabbing;
}
.contentSlide h1{
    user-select: none;
}
.selectors{
    display: flex;
    gap: .5rem;
    justify-content: center;
    position: absolute;
    bottom: 1rem;
    left: 50%;
    translate: -50% 0;
}
.icon{
    z-index: 1;
    cursor: pointer;
    filter: drop-shadow(2px 2px 4px #33333360);
    transition: .5s ease;
}
.icon:hover{
    scale: 1.5;
}
.icon:focus{
    scale: .9;
}
.arrowRight{
    position: absolute;
    right: 1.5rem;
    top: 50%;
    translate: 0 -50%;
}
.arrowLeft{
    position: absolute;
    left: 1.5rem;
    top: 50%;
    translate: 0 -50%;
}