header{
    max-width: 1350px;
    margin: 0 auto;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    padding-right: 1rem;
    padding-left: 1rem;
    align-items: center;
    background: var(--bg-color);
    position: relative;
}
@media (min-width: 1350px) {
    header{
        position: sticky;
        top: 0;
        z-index: 3;
        max-width: 100vw;
        padding-left: calc((100% - 1350px) / 2 + 1rem);
        padding-right: calc((100% - 1350px) / 2 + 1rem);
    }
}
header>a{
    display: flex;
    align-items: center;
    height: 100%;
}
header>a>h1:hover{
    color: var(--primary-color);
    transition: .5s ease;
}
header>a>img{
    height: 100%;
    max-height: 10vh;
    transition: .5s ease;
}
header>a:hover>img{
    scale: 1.2;
}
header>ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    font-size: 1.2rem;
}
header>ul>li>a{
    display: flex;
    align-items: center;
    gap: .5rem;
}
header>ul>li:last-child{
    position: relative;
}
li:has(.quantity){
    position: relative;
}
.quantityCart{
    position: absolute;
    top: .5em;
    left: 1em;
    width: 1.5em;
    height: 1.5em;
    background: var(--primary-color);
    backdrop-filter: blur(20%);
    color: var(--bg-color);
    border-radius: 50%;
    padding: .3em;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events:none;
}
@media (max-width: 1439px){
    header{
        padding-right: 8em;
    }
}
@media (max-width: 1060px){
    header{
        flex-direction: column;
        height: 17vh;
        min-height: 6rem;
    }
    header>ul{
        height: 7vh;
    }
}
@media (max-width: 460px){
    header{
        align-items: flex-start;
        font-size: small;
    }
    header>ul{
        gap: .5rem;
        font-size:medium;
    }
}
@media (max-width: 380px){
    header{
        align-items: flex-start;
        font-size: .4em;
    }
    header>ul{
        font-size:medium;
    }
}